<div class="card">
	<div class="card-body">
		<div class="container border">
			<div class="row">
				<div class="col-sm-6 col-md-3 mb-2"> 
					<button id ="embeddingOverview" type="button" class="btn btn-primary w-100">Overview</button>
				</div>
				<div class="col-sm-6 col-md-3 mb-2">
					<button id ="embeddingPlayGround" type="button" class="btn btn-primary w-100">Play Ground</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="card">
	<input id = "inputPrompt" class="form-control" ></input>

	<table class="table">
		<thead class="table-light">
			<tr>
				<th>Prompt</th>
				<th>Color</th>
			</tr>
		</thead>
		<tbody id="embeddingsTable">
		</tbody>
	</table>
</div>
