<% contentFor('layout') -%>




<div class="container mt-md-4 mt-lg-5 p-3 border">
  <div class="row">
    <div id="canvasContainer" class="col-md-5">
		<canvas id="mainCanvas" width = "800" height = "800" ></canvas>
    </div>
		
    <div id="textContainer" class="col-md-7">

		<div id="introduction" style="display:none"> 
			<%- include('introduction') -%>	
		</div>

		<div id="vecComparrison" style="display:none"> 
			<%- include('vectorComparrison') -%>
		</div>

		<div id="embeddings" style="display:none"> 
			<%- include('embeddings') -%>	
		</div>

		<div id="embeddingsComparrison" style="display:none"> 
			<%- include('embeddingsComparrison') -%>	
		</div>

		</div>
		</div>
		</div>
	</div>
    </div>
  </div>
	
<div class="container mt-md-4 mt-lg-5 p-3">
	
  <div class="row">
    <div class="col-md-3"  >
		<button id="previous" type="button" class="btn btn-primary w-100">
			Previous
		</button>
    </div>

    <div class="col-md-3 ms-auto">
		<button id="next" type="button" class="btn btn-primary w-100">
			Next
		</button>
    </div>

    </div>
  </div>
</div>


<script src="/index.min.js"> </script>

<script type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>

